.Header {
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .Input {
    display: flex;
    align-items: center;
    height: 100%;

    input {
      padding: 0px 10px;
      border: none;
      background: var(--dark-grey);
      outline: none;
      color: var(--grey);
      height: 100%;
    }

    div {
      padding: 10px 10px;
      background: var(--dark-grey);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all ease 0.3s;
      cursor: pointer;

      &:hover {
        background: var(--grey);
        svg {
          fill: var(--dark-grey);
        }
      }

      svg {
        fill: var(--grey);
      }
    }
  }

  .Right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .AI {
      width: 40px;
      cursor: pointer;
      padding: 0 5px;
      height: 100%;
      background: var(--dark-grey);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all ease 0.2s;
      position: relative;
      margin-right: 10px;

      svg {
        fill: var(--grey);
      }
  
      &:hover {

        background: var(--darkish);

        .Menu {
          display: flex;
        }
      }

      .Menu {
        display: none;
        animation: opa 0.2s ease-out;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: min-content;
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--dark-grey);

        span {
          color: var(--grey);
          padding: 10px 12px;
          width: 100%;
          animation: slide-up 0.3s ease-out;
          cursor: pointer;
          background: var(--darkish);
          transition: all ease 0.3s;
          white-space: nowrap;
          
          &:hover {
            filter: brightness(150%);
          }
        }
      }
    }

    .Controller {
      width: 40px;
      cursor: pointer;
      padding: 0 5px;
      height: 100%;
      background: var(--green);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all ease 0.2s;
  
      svg {
        fill: black;
      }
  
      &:hover {
        background: var(--light-green);
      }
  
      &.leave {
        background: var(--red);
  
        &:hover {
          background: var(--light-red);
        }
      }
    }
  }
  
}

@keyframes opa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-10%)
  }

  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}