.Rooms {
  background: var(--dark-grey);
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;

  .Room {
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    background: var(--darkish);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;

    &:hover {
      padding: 15px 15px;
      background: var(--greyer);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      :first-letter {
        text-transform: uppercase;
      }
    }

    div {
      color: var(--grey);
      display: flex;
      align-items: center;
      span {
        
        margin-right: 5px;
      }

      svg {
        margin: 0 0 2px 0;
      }
    }
  }
}